body{
	margin: 0 0 0 0;
	padding: 1em 1em 1em 1em;
	background-color: #fcfcfc;
	color:#14141f;
	font-family : Arial, Helvetica, sans-serif;
}

header{
	margin:0 0 0 0;
	padding: 0 0 0 0;
}

header.main-header{
	margin-bottom : 2em;
}

img.logo{
	float:left;
	width : 5.5em;
}

header h1{
	font-family: "Lucida Console", Courier, monospace;
	font-weight: normal;
	font-size: 2.5em;
	margin:0 0 0 0;
	padding: 0.1em 0.1em 0.1em 0.1em;
}

h2, p.subtitle {
	font-size : 1em;
	margin: 0 0 0.5em 0;
	padding : 0.5em 0.5em 0.5em 0.5em;	
}

h2{
	font-weight:bold;
	color: #73B84B;
}

p.subtitle{
	font-weight: normal;
	background-color : #14141f;
	color: #ddddff;
}

p{
	margin: 0 0 0 0;
	padding : 0 0 0 0;	
}

a:link, a:visited,  a:active, a:hover{
	color : #73B84B;
	text-decoration : underline;
}

a:link{
	font-weight: bold;
}

a:visited, a:active{
	font-weight: normal;
}

a:hover{
	background-color : #73B84B;
	color: #ddddff;
}