body{
	margin: 0 0 0 0;
	padding: 1em 1em 1em 1em;
	background-color: #fcfcfc;
	color:#14141f;
	font-family : Arial, Helvetica, sans-serif;
}

header{
	margin:0 0 0 0;
	padding: 0 0 0 0;
}

header.main-header{
	margin-bottom : 2em;
}

img{
	vertical-align : middle;
}

p.subtitle img{
	height : 2em;
}

img.logo{
	float:left;
	width : 5.5em;
	margin : 1em 1em 1em 1em;
}

a.wt-tech:link, a.wt-tech:visited,  a.wt-tech:active, a.wt-tech:hover{
	color : #ffffff;
	background-color : #2b2e32;
	text-decoration : none;
	font-size:1em;
	font-weight : normal;
	font-family: Verdana,Geneva,sans-serif; 	
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin: 0 0 0 0.5em;
	vertical-align: middle;
	border-radius: 0.2em;
}

a.wt-tech:hover{
	text-decoration : underline;
}

header h1{
	font-family: "Lucida Console", Courier, monospace;
	font-weight: normal;
	font-size: 2.5em;
	margin:0 0 0 0;
	padding: 0.1em 0.1em 0.1em 0.1em;
	color : black;
}

p.subtitle {
	font-size : 1em;
	margin: 0 0 0.5em 0;
	padding : 0.5em 0.5em 0.5em 0.5em;	
}

h2{
	font-size : 1.5em;
	margin: 0 0 0.5em 0;
	padding : 0.5em 0.5em 0.5em 0.5em;	
	font-weight:normal;
	color : black;
	text-transform: uppercase;
	/*border-top : solid black 2px;*/
	/*color: #73B84B;*/
}

h3{
	font-size : 1em;
	margin: 0 0 0.5em 0;
	padding : 0.5em 0.5em 0.5em 0.5em;	
	font-weight:bold;
	color : black;
/*	border-top : solid black 1px;*/
	/*color: #73B84B;*/
}

p.subtitle{
	font-weight: normal;	
/*	background-color : #14141f;
	color: #ddddff;
*/
}

a:link, a:visited,  a:active, a:hover{
	color : #73B84B;
	text-decoration : underline;
}

a:link{
	font-weight: bold;
}

a:visited, a:active{
	font-weight: normal;
}

a:hover{
	background-color : #73B84B;
	color: #ddddff;
}

/* NAVIGATION */
nav{
	clear:left;
	display : inline;
	border : solid 2px;
	border-radius : 0.5em;
	padding:0.5em;
}


nav img{
	height:1.5em;
	vertical-align : middle;
	margin-right:0.2em;
	margin-left:0.3em;
}

img.selected{
	border-bottom : solid #73B84B 2px;
}

ol.breadcrumb
{
	margin: 0;
	padding: 0 1em 0 0;
	list-style-type: none;
	display : inline;
}

ol.breadcrumb li { 
	display: inline; 
}

ol.breadcrumb li { 
	display: inline; 
}

ol.breadcrumb li:before { 
	content : " >> ";
}

/*
ol.breadcrumb li a
{
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #036;
}

ol.breadcrumb li a:hover
{
	color: #fff;
	background-color: #369;
}
*/

/* CONTENTS */
section{
	margin: 4em 0 2em 0;
}

ol.iconlist{
	list-style-type : none;
}

ol.iconlist img {
	height : 3em;
	vertical-align : middle;
	margin : 0.3em 1em 1em 1em;
	float : left;
}

ol.iconlist li{
	clear:left;
	margin-bottom : 1em;
}

p{
	margin: 0 0 0 0;
	padding : 0.5em 0 0 0.5em;	
}

code{
	font-family: "Lucida Console", Courier, monospace;
	font-weight: bold;
}

pre{
	margin : 2em 2em 2em 2em;
	padding : 1em 1em 1em 1em;
	font-family: "Lucida Console", Courier, monospace;
	font-weight: bold;
	font-size : 0.8em;
	border : dashed black 2px;
	border-radius : 1em;
	/*background-color : #dfdfdf;*/
}

/* articles */
article{
	margin : 0 2em 0 2em;
	padding : 1em 1em 1em 1em;
	border-bottom : dashed #aaaaaa 2px;
	border-left : dashed #aaaaaa 2px;
}

article h2{
	margin-left : 0;
	padding-left: 0;
}

article p{
	padding-left: 0;
	margin-left : 0;
}

article nav{
	margin-top : 1em;
	display: inline-block;
}

/* projects and events */
p.loading{
	font-family: "Lucida Console", Courier, monospace;
	font-weight: normal;
	font-size: 2.5em;
	margin:2em 2em 2em 2em;
	padding: 0.1em 0.1em 0.1em 0.1em;
	text-align: center;
}

p.eventaddress{
	font-style : italic;
}

p.eventtime{
}

h3.posts{
	font-size : 1em;
	font-weight : bold;
}
article.nextEvent h2{
	font-weight : bold;
}

table, th, td {
}

table{
	margin: 1em 0.5em 1em 0.5em;
	padding : 0 0 0 0;
	border-collapse: collapse;
    border: 2px solid;
    border-radius : 0.5em;
}

th, td{
	margin: 0 0 0 0;
	padding : 0.5em	0.5em 0.5em 0.5em;
    border: 1px solid;    
}

th{
	color: #fcfcfc;
	background-color:#14141f;
	font-weight: bold;
}

/* MAPS */
*.map{
	margin: 1em 0 1em 0;
	padding : 0 0 0 0;
	border : solid 2px;
	height : 500px;
}