body{
	background-color : white;
	color : #222222;
	font-family: "Courier New", courier, monotype;
	padding-top : 2em;
	padding-bottom : 2em;
}

abbr{
	text-decoration:none;
}

@media only screen and (max-width: 600px) {
  body {
	background-color : red;
	font-size: 5vw;
	padding-left : 2em;
	padding-right : 2em;
  }
}

@media only screen and (min-width: 601px) {
  body {
	padding-left : 10%;
	padding-right : 10%;
  }
}

h1{
	font-weight : normal;
	text-align : center;
	font-size: 3em;
	margin : 1em auto 1em auto;
}

div.imgContainer{
	text-align : center;
}

div.imgContainer img{
	max-width: 50%;
}

